.button-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f0eff2;
}
.button-quantity button {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-inline: 1rem;
  background-color: #e7e7ef;
}
.button-quantity span {
  font: var(--body-18regular);
}

@media screen and (min-width: 768px) {
  .button-quantity {
    align-self: center;
    justify-self: center;
  }
}
