.btn {
  border: 1px solid transparent;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.96);
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shop {
}
.btn-menu {
  grid-area: menuIcon;
  background-color: unset;
}
.is-white {
  border-color: var(--primary);
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}
