.product-list-content {
  padding-inline: 1rem;
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.product {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.25rem;
}
.product h3 {
  font: var(--subtitles-22bold);
  display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product p {
  font: var(--body-16regular);
  display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: start;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--grey-10); */
}
.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-price {
  font: var(--body-18regular);
  color: var(--text);
  display: inline-block;
  margin-block: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1rem;
  }
  .product-details {
    display: flex;
    align-items: center;
  }

  .product-buttons {
    flex: 1;
    align-self: center;
  }
}
