.search-box {
  display: flex;
  grid-area: searchBox;
  flex: 1;
  order: 3;
}
.search-box input {
  inline-size: 100%;
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  border-inline-end-color: transparent;
}
.search-box button {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
