.checkout-content {
  background-color: var(--white);
  margin-block: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .checkout-content {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 371px;
  }

  span {
    align-self: center;
    text-align: center;
  }
}

.checkout-headline {
  margin-block: 2rem;
}
