.current-product {
  padding-inline: 1rem;
}
.current-product-content {
  color: var(--text);
  padding-block: 2rem;
}

.current-product-content h1 {
  margin-block: 1.5rem;
}
.current-product-id {
  background-color: var(--white);
  padding: 1rem;
}
.current-product-id h2 {
  font: var(--subtitles-22bold);
  display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block: 1rem;
}
.current-product-id p {
  font: var(--body-16regular);
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-features {
  background-color: var(--white);
  padding: 1rem;
}
.product-features h2 {
  font: var(--subtitles-22bold);
}
.product-features ul {
  padding-block: 1.5rem;
}
.product-features li {
  font: var(--body-18regular);
  padding-block: 0.5rem;
}

@media screen and (min-width: 768px) {
  .current-product-id {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
  }
  .product-features {
    margin-block: 1rem;
    border-radius: 0.25rem;
  }
  .buttons {
    flex-direction: row;
  }
}
