.checkout-content {
  background-color: var(--white);
  margin-block: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.checkout-form-content {
  background-color: var(--gray);
  padding: 1.5rem;
}
.total {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.total-title {
  font: var(--body-18regular);
}

@media screen and (min-width: 768px) {
  .checkout-content {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 371px;
  }
}
/* span {
  align-self: center;
  text-align: center;
} */

/* .checkout-headline {
  margin-block: 2rem;
} */
/* .checkout-form h3 {
  font: var(--body-18semiBold);
} */
.personal-data,
.pay-method {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding-block: 1rem;
  row-gap: 0.5rem;
  grid-template-areas: 'name lastName' 'email email';
}
.pay-method {
  grid-template-areas: 'target target' 'date cvv';
}
.personal-data > div:nth-of-type(3) {
  grid-area: email;
}
.pay-method > div:nth-of-type(1) {
  grid-area: target;
}
