@media screen and (min-width: 768px) {
  .table {
    max-block-size: 100%;
    overflow: auto;
  }
  .table-head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 100px;
    margin-block-end: 1rem;
    gap: 1rem;
    place-items: center;
    text-transform: capitalize;
    margin-inline-end: 0.5rem;
  }
  .table-body {
    overflow: auto;
    max-block-size: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    gap: 0.5 rem;
  }
  .table-body::-webkit-scrollbar {
    width: 10px;
  }
  .table-body::-webkit-scrollbar-track {
    background-color: #efefef;
  }
  .table-body::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    block-size: 3.125rem;
  }
}
