:root {
  --bgShade: #eeeffb;
  --greyText: #151875;
  --primary: #fb2e86;
  --white: #ffffff;
  --baseFont: 'Inter', sans-serif;
  --linerBg: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
  --mintGreenGradiant: linear-gradient(42deg, #36e6d5 0%, #29e871 100%);
  --text: #151875;
  --softBlue: #4853c2;
  --red: #fb2448;
  --subtextColor: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
  --subtextColor: #8a8fb9;
  --bg: #ebebeb;
  --black: #111111;
  --gray: #f4f4fc;
  --color-default: #e7e7ef;
  --subtitles-22bold: 700 1.375rem / normal var(--baseFont);
  --subtitles-32bold: 700 2rem/2.5rem var(--baseFont);
  --body-18regular: 400 1.125rem/2rem var(--baseFont);
  --body-18regular_u: 400 1.125rem/2rem var(--baseFont);
  --body-16regular: 400 1rem/1.5rem var(--baseFont);
  --body-18semiBold: 600 1.125rem/2rem var(--baseFont);
  --smallBold: 600 14px / 1rem var(--baseFont);
}

body {
  background-color: var(--bgShade);
  font: var(--body-18regular);
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  max-inline-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.debug,
.debug > * {
  outline: 1px solid red;
}
.is-pink {
  background-color: var(--primary);
  color: var(--white);
}
.is-transparent {
  background-color: unset;
  color: var(--text);
}
.is-underline {
  text-decoration: underline;
}
.is-white {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--white);
}
.text-white {
  color: var(--white);
}
